<div class="postcard">
  <div class="content">
    <h3>oopsie woopsie, we made a little fucko boingo</h3>
    <p><%= @error %></p>
    <p>pwease try again later or contact support if the problem persists.</p>
  </div>
</div> 