<h2>faq</h2>
<ul>
<li>
<i>how do i hide my return address?</i><br/>
either send a postcard without one, or put the postcard in an envelope. <br/>
make sure you include your slack ID so they can reply!
</li>
<li>
<i>how do i opt out?</i><br/>
that's kinda sad...<br/>
also bold of you to assume everyone's clamoring to send you postcards :-P <br/>
that said, <a href="/optout">here</a>.
</li>
<li>
<i>do i have to follow the <a href="https://hackclub.com/conduct/" target="_blank">hack club code of conduct</a>?</i><br/>
CRAZY question to ask. in what world would the answer be anything other than yes?
</li>

