    <a href="/">< back</a>

    <h1>opt out</h1>
    <div>
        <p>⚠️ you sure about that buddy?</p>
        <form action="/optout" method="post">
            <button type="submit">sign in with slack and opt out</button>
        </form>
    </div>
